.pokedex {
    height: 210px;
    width : 50px;
    background-color : #f3f4f7;
}

.img-pokedex {
    height : 170px;
    width : 110px;
}

.list-pokedex {
    height : 470px;
    overflow: hidden auto;
}