.modal-content {
    width : 96%;
  }

  .modal-header {
    border-bottom : none;
  }

.modal-body {
    height : 576px;
    overflow: hidden auto;
}

.list {
    min-height : 200px;
    width : 100%;
    background-color : #f3f4f7;
}

.img-card {
    height : 170px;
    width : 130px;
}

.tube {
    background-color : #f3701a;
    border-radius: 10px;
}