.footer {
    width : 100%;
    position: absolute;
    bottom : 0;
    background-color : #ec5656;
    height : 100px;
    display: flex;
    justify-content: center;
}

.circle {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color : #ec5656;
    position: relative;
    bottom : 70px;
  
}

.circle .add {
    font-size : 100px;
    color : white;
    position: relative;
    left : 31%;
    top : 10px;
    font-family: "Gaegu";
    font-weight: bold;
    cursor: pointer;
}