.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }

.head {
  display:flex;
  justify-content: center;
  margin-top: 30px;
  font-family: "Atma"

}